{% extends 'Admin/adminBase.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Administratorzy</h1>

    {% set index = 0 %}
    {% for user in users %}

        {% if user.roles == ["ROLE_ADMIN"] %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p>Adres email: <strong>{{ user.email }}</strong></p>
                    <p>Login: <strong>{{ user.login }}</strong></p>
                    <p>Status: <strong>{% if user.isActive == false %} Nie aktywny typ konta {% else %} Aktywny {% endif %}</strong></p>
                    <a class="btn btn-outline-info my-2" href="{{ path('adminEditUser', {'id': user.id}) }}">Edytuj</a>
                    <a class="btn btn-outline-danger my-2" href="{{ path('adminDeleteUser', {'id': user.id}) }}">Usuń</a>
                </li>
            </ul>
        {% endif %}

        {% set index = index + 1 %}
    {% endfor %}

    <h1>Czytelnicy</h1>

    {% set index1 = 0 %}
    {% for user in users %}
        {% if user.roles == ["ROLE_READER"] %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p>Adres email: <strong>{{ user.email }}</strong></p>
                    <p>Login: <strong>{{ user.login }}</strong></p>
                    <p>Status: <strong>{% if user.isActive == false %} Nie aktywny typ konta {% else %} Aktywny {% endif %}</strong></p>
                    <p>Zablokowany: <strong>{% if user.isBanned == false %} Tak {% else %} Nie {% endif %}</strong></p>
                    <a class="btn btn-outline-info my-2" href="{{ path('adminEditUser', {'id': user.id}) }}">Edytuj</a>
                    <a class="btn btn-outline-danger my-2" href="{{ path('adminDeleteUser', {'id': user.id}) }}">Usuń</a>
                </li>
            </ul>
        {% endif %}

        {% set index1 = index1 + 1 %}
    {% endfor %}

{% endblock %}