{% extends 'Reader/readerBase.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {% set index = 0 %}
                {% for book in books %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" {% if book.cover == null %} src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" {% else %} src="{{ asset('uploads/covers/'~book.cover~'') }}" {% endif %} alt="..."/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ book.name }}</h5>
                                    <!-- Product price-->
                                    <p><strong>{{ book.author }}</strong></p>
                                    <p>{{ book.description }}</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                {% set reservationStatus = false %}
                                {% for reservation in reservations %}
                                    {% if reservation.bookId.id == book.id %}
                                        {% set reservationStatus = true %}
                                    {% endif %}

                                {% endfor %}

                                {% set value = false %}
                                {% set rentDate = false %}
                                {% for rent in rentInfo %}
                                    {% if rent.reservationId.bookId.id == book.id %}
                                        {% set value = true %}
                                        {% set rentDate = rent.expireDate|date('H:i d-m-Y') %}
                                    {% endif %}
                                {% endfor %}

                                {% if value == true %}
                                    <div class="text-center"><a class="btn btn-success mt-auto">Książka została
                                            wypożyczona</a>
                                        <p>Ostateczna data oddania książki: <strong>{{ rentDate }}</strong></p>
                                    </div>
                                    {% elseif (book.quantity <= 0 or reader.reservationsQuantity == 0) and reservationStatus == false %}
                                        <div class="text-center"><a class="btn btn-danger mt-auto">Nie można
                                                zarezerwować</a>
                                            <p>Liczba egzemplarzy: <strong>{{ book.quantity }}</strong></p>
                                        </div>
                                    {% elseif reservationStatus == true %}
                                        <div class="text-center">
                                            <button class="btn btn-outline-danger mt-auto" id="btn_cancel{{ book.id }}" style="visibility: visible;">Anuluj rezerwację</button>
                                            <button class="btn btn-outline-info mt-auto" id="btn_create{{ book.id }}" style="visibility: hidden;">Zarezerwuj</button>
                                            <a id="cannotReserve" class="btn btn-danger mt-auto" style="visibility: hidden;">Nie można zarezerwować</a>
                                            <p>Liczba egzemplarzy: <strong>{{ book.quantity }}</strong></p>
                                        </div>
                                    {% else %}
                                        <div class="text-center">
                                            <button class="btn btn-outline-info mt-auto" id="btn_create{{ book.id }}" style="visibility: visible;">Zarezerwuj</button>
                                            <button class="btn btn-outline-danger mt-auto" id="btn_cancel{{ book.id }}" style="visibility: hidden;">Anuluj rezerwację</button>
                                            <a id="cannotReserve" class="btn btn-danger mt-auto" style="visibility: hidden;">Nie można zarezerwować</a>
                                            <p>Liczba egzemplarzy: <strong>{{ book.quantity }}</strong></p>
                                        </div>
                                {% endif %}

                                {#<div class="text-center">
                                    <button class="btn btn-outline-info mt-auto" id="btn_create{{ book.id }}" style="visibility: hidden;">Zarezerwuj</button>
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-outline-danger mt-auto" id="btn_cancel{{ book.id }}" style="visibility: hidden;">Anuluj rezerwację</button>
                                </div>

                                <div class="text-center"><a id="cannotReserve" style="visibility: hidden;" class="btn btn-danger mt-auto">Nie można
                                        zarezerwować</a>
                                </div>#}
                            </div>
                        </div>
                    </div>
                    {% set index = index + 1 %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script>
        let booksArray = {{ books|json_encode }};

        let count = 0;

        for (let key in booksArray) {
            let id = key;

            let cancel = document.getElementById("btn_cancel" + id);
            let create = document.getElementById("btn_create" + id);

            let urlCancel = "{{ path('readerCancelReservation', {'bookId': 'index'}) }}"
            urlCancel = urlCancel.replace("index", id);

            let urlCreate = "{{ path('readerCreateReservation', {'bookId': 'index'}) }}"
            urlCreate = urlCreate.replace("index", id);

            $(cancel).on('click', function (event) {
                //event.preventDefault();

                $.ajax({
                    url: urlCancel,
                    /*type: "delete",
                    method: "delete",*/
                    success: function (responseData) {
                        $(cancel).css("visibility", "hidden")
                        $(create).css("visibility", "visible")
                    }
                })
            })
            $(create).on('click', function (event) {
                //event.preventDefault();

                $.ajax({
                    url: urlCreate,
                    type: "post",
                    method: "post",
                    success: function (responseData) {
                        $(cancel).css("visibility", "visible")
                        $(create).css("visibility", "hidden")
                    }
                })
            })
        }
    </script>
{% endblock %}